.movie_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.card {
  background-color: blue;
  color: white;
  width: 100%;
  aspect-ratio: 1/2;
}
.poster {
  width: 100%;
}